.character-skills {
    background-image: url('../../static/ui/skins/default/troy_crack_texture_19.png');
    // border: 4px solid #363433;
    border: 4px solid #363433;
    // box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75);
    
    overflow-y: auto;
    height: 663px;
    // width: 480px;

    scrollbar-color: #443f3a  #26221e;
    scrollbar-width: thin;
}

.character-skills::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#26221e;
}

.character-skills::-webkit-scrollbar {
    width: 6px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.character-skills::-webkit-scrollbar-thumb {
    background-color: #443f3a;
}

.character-skills-frame {
    width: 486px;
    height: 705px;
}

.character-page-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .character-page-nodeset {
        color: rgba(255, 255, 255, 0.4);
        display: inline-block;
        margin: 0.1rem 0 0.5rem 0;
        font-size: 0.8rem;
    }
}

.character-frame {
    border: 4px solid #363433;
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
    width: 1024px;

    .character-portrait {
        // background-color: hotpink;
        // background-image: url("../../static/ui/skins/default/illustration_frame_1.png");
        // background-size: 100%;
        width: 542px;
        height: 606px;
        box-shadow: 5px 0px 0px 0px #211f1e;
    }

    .character-skills-points-holder {
        height: 54px;
        background-image: url("../../static/ui/skins/default/header_nameplate_ornament7.png");
        background-size: 474px 54px;

        // background-image: url("../../static/custom/header_nameplate_ornament7_435x54.png");
    }

    .character-portrait-ornament {
        height: 54px;
        width: 100%;
        display: flex;
    }

    .character-portrait-ornament-left {
        width: 46px;
        height: 54px;
        background-image: url("../../static/ui/skins/default/troy_basic_ornament1_left_cap.png");
    }

    .character-portrait-ornament-basic {
        width: 448px;
        height: 54px;
        background-image: url("../../static/ui/skins/default/troy_basic_ornament1.png");
    }

    .character-portrait-ornament-right {
        width: 48px;
        height: 54px;
        background-image: url("../../static/ui/skins/default/troy_basic_ornament1_right_cap.png");
    }
}



// _("root > character_details_panel > hero_info > template_candidate_frame > ornament_frame_top > ornament_left_cap"):GetImagePath()
// "ui\\skins\\default\\troy_basic_ornament1_left_cap.png"
// _("root > character_details_panel > hero_info > template_candidate_frame > ornament_frame_top > ornament_right_cap"):GetImagePath()
// "ui\\skins\\default\\troy_basic_ornament1_right_cap.png"
// _("root > character_details_panel > hero_info > template_candidate_frame > ornament_frame_top > ornament_basic"):GetImagePath()
// "ui\\skins\\default\\troy_basic_ornament1.png"

.skill-tier {
    width: 424px;
    height: 142px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-left: 16px;
}

.skill-colour-wrapper {
    width: 16px;
    height: 140px;
    position: absolute;
    top: 0;
    left: 3px;
    z-index: 1;
}

.skill-colour-bar {
    width: 16px;
    height: 140px;
    background-image: url("../../static/ui/skins/default/troy_crack_texture_white.png");
    border: 1px solid #000;
    position: relative;
}

.skill-colour-ability .skill-colour-bar {
    background-image: none;
    background-color: #aa3700;
}

.skill-colour-campaign .skill-colour-bar {
    background-image: none;
    background-color: #4b70aa;
}

.skill-colour-self .skill-colour-bar {
    background-image: none;
    background-color: #8d8501;
}

.skill-colour-unit .skill-colour-bar {
    background-image: none;
    background-color: #1f513f;
}

.skill-colour-level {
    background-image: url("../../static/ui/skins/default/cd_level_indicator_frame.png");
    position: absolute;
    width: 30px;
    height: 28px;
    left: -4px;
    top: 45%;
    font-family: Cabin, sans-serif;
    color: #f1cea0;
    text-align: center;
}

.skill-colour-level span {
    margin-left: -4px;
}

.skill-colour-ability .skill-colour-level {
    background-image: url("../images/custom/cd_level_indicator_frame_ability.png");
}

.skill-colour-campaign .skill-colour-level {
    background-image: url("../images/custom/cd_level_indicator_frame_campaign.png");
}

.skill-colour-self .skill-colour-level {
    background-image: url("../images/custom/cd_level_indicator_frame_self.png");
}

.skill-colour-unit .skill-colour-level {
    background-image: url("../images/custom/cd_level_indicator_frame_unit.png");
}


.skill-single {
    width: 200px;
    height: 140px;
    margin: auto;
    background-image: url('../../static/ui/skins/default/skill_card_active.png');
}

.skill-left, .skill-right {
    width: 200px;
    height: 140px;
    background-image: url('../../static/ui/skins/default/skill_card_active.png');
}

.skill-left .skill-card, .skill-right .skill-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 140px;
    margin: auto;
}

.skill-name {
    color: #f1cea0;
    font-size: 16px;
    text-align: center;
    padding-top: 2px;
    margin: 0;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-family: Cabin, sans-serif;
    font-weight: 500;
}
.skill-icon-img-wrapper {
    background-image: url("../../static/ui/skins/default/cd_slot_skill.png");
}

.skill-icon-img-wrapper img {
    padding: 0;
    margin: auto;
}

.skill-card {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-pair {
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-position: center 60%;
    background-blend-mode: color;
    position: relative;
}

.skill-arrow {
    width: 110px;
    height: 40px;
    position: absolute;
    top: 43%;
    background-image: url("../../static/ui/skins/default/skill_arrow_inactive.png");
    /* transform: rotate(180deg); */
}

.skill-tier-spec .skill-indent {
    width: 44px;
    height: 44px;
}

.skill-indent-spec-only-skill {
    margin-top: -40px;
}
