
body {
    background-image: url('../images/skins/default/troy_crack_texture_19.png');
    color: whitesmoke
}

body  {
    a {
        color: #f1cea0;
    }

    a:active, a:hover {
        outline-width: 0;
    }
}