
body  {
    background-image: url('../images/skins/default/troy_crack_texture_19.png');
    color: whitesmoke;

    a {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        color: #f1cea0;
    }

    button {
        color: #f1cea0;
        outline-width: 0;
        background: none;
        border: none;
        cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
    
    button:hover, a:active, a:hover {
        outline-width: 0;
        color: #fff;
    }

    .hidden {
        display: none;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    font-size: 0.875rem;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    padding-top: 3rem;


    border-top: 1px solid #f1cea0;
    color: #78757a;

    max-width: 90rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;

    a {
        text-decoration: none;
    }
}
